
   
    
    .tproductname{
        font-size: xx-large;
        background-color: rgba(rgb(56, 230, 65), green, blue, alpha);
       
    }
    .tableraws{
        padding: 30px;
    }
    span {
        color: green;

    }
